* {
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
}

body {
    background-color: rgb(255, 247, 235);
}

/* Navigation start */
ul {
    list-style: none;
    overflow: hidden;
    padding: 0%;
}

.logo {
    float:left;
    width: 30px;
    height: 30px;
}

.logo:hover {
    border-radius: 25rem;
    transition-duration: 5s;
}

.compname {
    float: left;
    font-weight: bold;
    text-align: center;
}

li a{
    float: right;
    text-align: center;
    display: block;
    text-decoration: none;
    color: blue;
    padding: 0.5rem;
    margin-right: 1.2rem;
}

li a:hover {
    color: rgb(93, 180, 183);
}
/* Navigation end */

/* Main content start */
.maincontent {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.herosection {
    grid-column: 1/5;
    display: flex;
    flex-direction: column;
}

.contact_btn {
    width: fit-content;
    background-color: blueviolet;
    color: white;
    border-radius: 0.4rem;
}
.contact_btn:hover {
    background-color: rgb(183, 105, 255);
}
.contact_btn:active {
    background-color: blueviolet;
}

.imagesection {
    grid-column: 6/-1;
}

/* Main content end */


/* Footer start */
footer {
    text-align: center;
}
/* Footer end */